body {
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

header div {
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-color: black;
    color:white;
    gap: 1.5rem;
    padding: 20px;
    margin: 0 0 0 20px;
}
header div h1 {
    font-weight: 100;
}

header nav {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin: 0 20px 0 0;
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
}


section.hero-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url("../images/hero-banner-img.jpeg");
    height: 500px;
    background-repeat: no-repeat;
    background-color: #9A9D9E;
    background-position: top;
    margin: 120px 0;
}

section.hero-banner div {
    display: flex;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}

section.hero-banner div h2 {
    color: white;
    font-weight: 100;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 120px 0;
    gap: 10rem;
    justify-content: center;
    align-items:stretch;
    max-width: 73%;
}

.page-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.page-section h2 {
    grid-column: span 1;
    text-align: right;
    align-self: flex-start;
    padding: 40px;
    border-right: 3px solid black;

}

.page-section div {
    grid-column: span 3;
    align-self: center;
    margin-left: 40px;
}


.work-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.3rem;
}

.work-container .panel {
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: 100%;
}
.panel a {
    height: auto;
    width: 100%;

}
.panel a div {
    background-color: rgba(128, 128, 128, 0.836);
    padding: 10px;
} 


.panel a div h3 {
    color: white;
    font-family: var(--header-font);
    height: auto;
} 

.work-container .work-panel-1 {
    grid-column: span 4;
    background-image: url('https://api.lorem.space/image/house?w=150&h=150');

}

.work-container .work-panel-2 {
    grid-column: span 2;
    background-image: url('https://api.lorem.space/image/car?w=150&h=150');

}

.work-container .work-panel-3 {
    grid-column: span 2;
    background-image: url('https://api.lorem.space/image/burger?w=150&h=150');

}

.work-container .work-panel-4 {
    grid-column: span 2;
    background-image: url('https://api.lorem.space/image/pizza?w=150&h=150');
}

.work-container .work-panel-5 {
    grid-column: span 2;
    background-image: url('https://api.lorem.space/image/furniture?w=150&h=150');
}

.panel div h3 {
    font-size: 0.9rem;
}



.page-wrapper {
    width: 100vw;
    margin: 0 auto;
}


.contact-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

}

.contact-container a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-container p {
    font-size: 1.3rem;
    font-weight: 400;
}





